.container {
	visibility: hidden;
}

.design-card {
	cursor: pointer;
	border-radius: 10px;
	margin: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .4s;
	transition: all .4s;

	@include media-query($on-palm) {
		margin: 15px;
	}

	&:hover {
		border: none !important;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		-webkit-box-shadow: 0 25px 55px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.24);
		box-shadow: 0 25px 55px rgba(0, 0, 0, 0.2), 0 16px 28px rgba(0, 0, 0, 0.24);
	}

	.image {
		width: 100%;
		height: 320px;
		object-fit: cover;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;

		@include media-query($on-palm) {
			height: 210px;
		}
	}
}

.logo-container {
	padding: 3rem 0;
	text-align: center;
	h1 {
		font-size: 4rem;
		color: white;
		@include media-query($on-palm) {
			font-size: 3rem;
		}
	}
}

header {
	background: #333;
}

.ekko-lightbox {
	.modal {
	}
}

footer {
	background: #333;
}
